window {
  border: 2px solid #eb6f92;
  background-color: #232136;
  border-radius: 20px;
  font-family: "JetBrains Mono Nerd Font";
}

#input {
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #eb6f92;
  background-color: #393552;
  outline: none;
}

#inner-box {
  margin: 4px;
  border: 0px solid;
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 8px;
}

#outer-box {
  margin: 14px;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.0);
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin-left: 8px;
  color: #e0def4;
}

#text:selected {
  border: none;
  border-radius: 8px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 0px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 8px;
  background-color: #eb6f92;
  color: #232136;
}
